	@charset 'utf-8';
		header#main_header {
			background-color: #0044af;
		}
		header#main_header div.main_util {
		}
		header#main_header nav.util_menu1{
			width: 1200px;
			height: 50px;
			margin: 0 auto;
		}
		header#main_header ul.util_wrap1 {
			width: 366px;
			float: left;
		}
		header#main_header ul.util_wrap1>li {
			float: left;
			width: 120px;
			background-color: #00163b;
			margin-right: 2px;
		}
		header#main_header ul.util_wrap1>li> a {
			display: block;
			text-align: center;
			line-height: 50px;
			color: white;
			position: relative;
		}
		header#main_header  ul.util_wrap2 {
			float: right;
		}
		header#main_header  ul.util_wrap2>li {
			float: left;
		}
		header#main_header ul.util_wrap2>li>a {
			display: block;
			text-align: center;
			line-height: 50px;
			color: white;
			font-size: 0.8em;
			float: left;
			margin-right: 10px;
			color: #c0c2ce;
		}
		#main_header  li.util_btn{width:40px;padding-top:18px;}
		#main_header  li.util_btn a {
			display: block;
			float: left;
			text-align: center;
			line-height: 10px;
			width: 15px;
			height: 15px;
			background-color: #fff;
			margin-right: 2px;
			color: #c0c2ce;
		}
		div#main_wrapper{
			background-color: #fff;
		}
		div#main_wrapper .main_wrap {
			width: 1200px;
			margin: 0 auto;
		}
		#main_wrapper .main_wrap div.logo {
			width:220px;
			height: 120px;
			padding-top: 30px;
			float: left;
		}
		div#main_wrapper .main_wrap div.main_menu {
			width: 750px;
			float: right;
		}
		div#main_wrapper .main_wrap div.main_menu li{
			float: left;
			width: 130px;
			margin-top: 40px;
		}
		div#main_wrapper .main_wrap div.main_menu li>a{
			display: block;
			text-align: center;
			color: #595959;
			line-height: 40px;
		}
		div#main_wrapper div.main_btn {
			float: right;
		}
		div#main_wrapper div.main_btn a {
			display: block;
			margin-top: 40px;
		}

	
		#sec_wrap {
			background:#558fce url(../images/mainbg01.jpg) no-repeat center;
			padding-bottom:40px;
		}
		#sec_wrap .con_wrap {
			width: 1200px;
			height: 260px;
			margin: 0 auto;
			padding-top: 75px;
		}
		#sec_wrap .con_wrap>div.title{
			width: 680px;
			height: 140px;
			float: left;
			color: white;
		}
		#sec_wrap .con_wrap>div.title .title_txt {
			font-size: 2.5em;
		}
		#sec_wrap .con_wrap>div.title h3 {
			font-size: 3.5em;
			font-weight: bold;
		}
		/* main icon_area */
		#sec_wrap .con_wrap>div.con_icon {
			float: right;
		}
		#sec_wrap .con_wrap>div.con_icon ul.main_icon {
			width: 480px;
			height: 140px;
			margin: 0 auto;
		}
		#sec_wrap .con_wrap>div.con_icon ul.main_icon li {
			width: 100px;
			height: 125px;
			float: left;
			margin-left: 20px;
		}
		#sec_wrap .con_wrap>div.con_icon ul.main_icon img {
			display: block;
			margin:0 auto;
		}
		#sec_wrap .con_wrap>div.con_icon ul.main_icon p {
			margin-top: 10px;
			color: white;
			font-size: 14px;
			text-align: center;
		}
		/* container_wrap */
		#sec_wrap .container_wrap {
			width: 1200px;
			margin: 0 auto;
		}
		#sec_wrap .container_wrap >ul>li {
			float: left;
			height: 225px;
			width: 25%;
			position: relative;
		}
		#sec_wrap .container_wrap >ul>li .banner01 {
			padding-top: 80px;
			padding-left: 40px;
			color: white;
		}
		#sec_wrap .container_wrap >ul>li .banner01 .banner_txt {
			font-size: 2em;
			margin-bottom: 20px;
		}

		#sec_wrap .container_wrap>ul>li:nth-child(1){width:75%;height: 450px;}
		#sec_wrap .container_wrap>ul> li:nth-child(2){width:25%;height: 450px; background-image: url(../images/banner01.jpg);}
		#sec_wrap .container_wrap>ul> li:nth-child(3){background-color: #00163b;}
		#sec_wrap .container_wrap>ul> li:nth-child(4){background-color: #1651b7;}
		#sec_wrap .container_wrap>ul> li:nth-child(5){background-color: #ffffff;}
		#sec_wrap .container_wrap>ul> li:nth-child(6){background-image: url(../images/school01.jpg);}
		#sec_wrap .container_wrap>ul> li:nth-child(7){width:25%;background-image: url(../images/school02.jpg);}
		#sec_wrap .container_wrap>ul> li:nth-child(8){width:75%;background-color: gray;}

		#sec_wrap .container_wrap div.slider01 {
		}
		#sec_wrap .container_wrap div.slider01.slide01 {}
		#sec_wrap .container_wrap div.slider01 .slide01_txt {
			position: absolute;
			top: 70px;
			left: 90px;
			color: #1651b9;
			font-size: 4em;
		}
		/* 핫 링크 */
		#sec_wrap .container_wrap li.icon_box {}
		#sec_wrap .container_wrap li.icon_box h2 {
			width: 150px;
			height: 50px;
			color: white;
			margin: 20px 0 10px 25px;
			font-size: 1.3em;
		}
		#sec_wrap .container_wrap li.icon_box ul > li {
			width: 75px;
			float: left;
			margin-left: 8px;
		}
		#sec_wrap .container_wrap li.icon_box ul > li> p {
			color: white;
			text-align: center;
			font-size: 0.8em;
			margin: 0 auto;
		}
		#sec_wrap .container_wrap li.icon_box ul.icon_wrap {
			width: 255px;
			height: 110px;
			margin: 0 auto;
		}
		#sec_wrap .container_wrap li.icon_box img {
			display: block;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		/* 공지사항 */
		#sec_wrap .container_wrap li.notice_wrap h2 {
			width: 150px;
			height: 40px;
			color: #fff;
			margin: 20px 0 0 25px;
			font-size: 1.3em;
		}
		#sec_wrap .container_wrap li.notice_wrap>div.notice_line {
			width: 260px;
			height: 2px;
			background-color: #fff;
			margin: 0 auto;
			margin-bottom: 25px;
		}
		#sec_wrap .container_wrap div.notice_box ul li{
			color: #fff;
			font-size: 12px;
			margin-bottom: 15px;
			margin-left: 20px;
			position: relative;
		}
		#sec_wrap .container_wrap div.notice_box span{
			position: absolute;
			right: 20px;
		}

		/* SNS NEWS */
		#sec_wrap .container_wrap li.news_wrap h2 {
			width: 150px;
			height: 20px;
			margin: 20px 0 25px 25px;
			font-size: 1.3em;
			color: #00173d;
		}
		#sec_wrap .container_wrap div.news_box {
			width: 300px;
			height: 110px;
			position: relative;
		}
		#sec_wrap .container_wrap div.news_box img {
			margin-left: 25px;
		}
		#sec_wrap .container_wrap div.news_box p {
			width: 120px;
			height: 80px;
			margin-right: 30px;
			font-size: 12.5px;
			position: absolute;
			top: 0;
			right: -10px;
		}
		#sec_wrap .container_wrap div.news_btn {
			width: 300px;
			height: 50px;
			position: relative;
			bottom: 0;
		}
		#sec_wrap .container_wrap div.news_btn img {
			position: absolute;
			top: 0;
			right: 5px;
		}
		#sec_wrap .container_wrap div.news_btn a {}

		/* 캠퍼스 안내 */

		#sec_wrap .container_wrap li.campus{position: relative;}
		#sec_wrap .container_wrap li.campus p{
			width: 100%;
			color: white;
			text-align: center;
			line-height: 50px;
			text-align: center;
			font-weight: bold;
			color: white;
			background-color: rgba(0,0,0,0.5);
			position: absolute;
			bottom: 0;}
 
 		/* 동영상 박스 */

		#sec_wrap .container_wrap div.box_07 {
			position: absolute;
			width: 65px;
			height: 65px;
			top:50%;left:50%;
			margin-top:-32px;
			margin-left:-32px;
		}

		/* 마지막 슬라이더 영역 */

		#sec_wrap .container_wrap div.txt_wrap {

		}
		#sec_wrap .container_wrap div.txt_wrap .slide02_txt {
			width: 400px;
			height: 200px;
			position: absolute;
			top: 30px;
			left: 30px;
		}
		#sec_wrap .container_wrap .txt_wrap h2 {
			color: #ff503d;
			font-size: 1.8em;
		}
		#sec_wrap .container_wrap .txt_wrap p {
			font-size: 3.3em;
			color: #ff503d;
			font-weight: bold;
			margin-bottom: 20px;
		}
		#sec_wrap .container_wrap .txt_wrap .btn {
			width: 150px;
			height: 40px;
			background-color: #ff503d;
			text-align: center;
			line-height: 40px;
			font-size: 13px;
			color: #fff
		}

		/* 티커 부분 */

		#sec_wrap div.ticker_wrap {
			width: 1200px;
			height: 60px;
			margin: 0 auto;
			margin-top: 20px;
			position: relative;
			background-color: #fff;
		}
		#sec_wrap div.ticker_wrap .date {
			width: 300px;
			line-height: 60px;
			float: left;
			color: #6b6b6b;
			font-weight: bold;
			border-right: 1px solid #6b6b6b;
		}
		#sec_wrap div.ticker_wrap .slide_03 {
			width: 900px;
			float: left;
		}
		#sec_wrap div.ticker_wrap .slide_03 li {
			height: 60px;
			padding-left:30px;
			padding-top: 18px;
		}
		#sec_wrap div.ticker_wrap .slide_03 span.bold {
			font-weight: bold;	margin-right: 20px;
		}
		#sec_wrap div.ticker_wrap .slide_btn {
			position: absolute;
			right: 0;
		}
		#sec_wrap div.ticker_wrap .txt {
			font-weight: bold;
			color: #00163b;
			font-size: 1.3em;
			padding-left: 38px;
			padding-right: 38px;
		}
		#sec_wrap div.ticker_wrap .number {
			font-weight: bold;
			font-size: 1.2em;
			color: #282828;
		}



		/*슬라이더 수정 */

		.bx-wrapper {
	    -moz-box-shadow: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    border: none;
		}
		.bx-wrapper .bx-pager {
		bottom: 30px;
		}
		/* common */
		a.btn {
			width: 170px;
			display: block;
			line-height: 40px;
			text-align: center;
			border: 1px solid white;
			font-weight: bold;
			color: white;
			background-color: rgba(0,0,0,0.5);
			border-radius: 20px;
			transition: 0.3s;
		}
		a.btn:hover {
			background-color: rgba(0,0,0,1);
		}
		.mb10 {
			margin-bottom: 10px !important;
		}
		.mb20 {
			margin-bottom: 20px !important;
		}
		.mb30 {
			margin-bottom: 30px !important;
		}

		/*footer area*/
		
		footer#footer {
			width: 100%;
		}
		#footer .ft_wrap {
			width: 1200px;
			height: 160px;
			margin: 0 auto;
									
		}
		#footer div.ft_wrap ul {
			width: 1000px;
			margin-left: 260px;
			margin-top: 10px;
		}

		#footer div.ft_wrap ul.ft_util li{
			float: left;
			width: 151px;
			position: relative;
		}
		#footer div.ft_wrap ul.ft_util li:after {
			content: "";
			display: block;
			width: 1px;
			height: 10px;
			background-color: #444444;
			position: absolute;
			top: 15px;
		}
		#footer div.ft_wrap ul.ft_util li:first-child:after {
			content: "";
			display: none;

		}
		#footer div.ft_wrap ul.ft_util a{
			display: block;
			text-align: center;
			line-height: 40px;
			font-size: 13px;
			color: #444444;
		}
		#footer div.ft_menu {
			width: 800px;
			margin-left: 300px;
		}
		#footer div.ft_menu p.company{	
			color: #9b9b9b;
			font-size: 13px;
			margin-bottom: 10px;

		}
		#footer div.ft_menu p {
			color: #676767;
		}