@charset "utf-8";

header#header {}
#header .nav_wrap {
	width: 100%;
}
#header .nav_wrap .main_wrap {
	width: 1260px;
	height: 135px;
	margin: 0 auto;
	background-color: pink;
	position: relative;
}
#header .nav_wrap h3 {
	width: 150px;
	height: 135px;
	text-align:center;
	padding-top:40px;
	background-color: skyblue;
}
#header .nav_wrap .menu_wrap {}
#header .nav_wrap .menu_wrap ul {
	position: absolute;
	right: 0;
	top: 60px;
}
#header .nav_wrap .menu_wrap li {
	float: left;
	width: 200px;
}
