@charset "utf-8";

header#header {
	position: relative;
	height: 1955px;
}
#header .nav_wrap {
	width: 100%;
	position: absolute;
	top:0;
}
#header .nav_wrap .main_wrap {
	width: 1260px;
	height: 120px;
	margin: 0 auto;
	position: relative;
}
#header .nav_wrap h3 {
	width: 150px;
	height: 100px;
	text-align:center;
	padding-top:30px;

}
#header .nav_wrap .menu_wrap {}
#header .nav_wrap .menu_wrap ul {
	position: absolute;
	right: 0;
	top: 60px;
}
#header .nav_wrap .menu_wrap li {
	float: left;
	width: 200px;
}

#header .nav_wrap .menu_wrap li a {
	display: block;
	line-height: 40px;
	color: #6f7172;
	font-weight: bold;
}
#header .slider_01 {
	width: 100%
	height: 1010px;
}
section#sec_wrap {
	width: 1260px;
	height: 1260px;
	position: absolute;
	bottom: 10px;
	left:50%;margin-left: -630px; /*가운데 정렬 */
}
#sec_wrap .con_wrap {
}
#sec_wrap .con_wrap >ul>li {
	float: left;
	height: 315px;
	width: 25%;
}
#sec_wrap .con_wrap >ul>li>a {
	display: block;
	text-align: center;
	line-height: 315px;
	width: 315px
	height: 315px;
	text-indent: -9999px;
}

#sec_wrap .con_wrap>ul>li:nth-child(1){background: url(../images/banner01.png);}
#sec_wrap .con_wrap>ul>li:nth-child(2){background: url(../images/banner02.png);}
#sec_wrap .con_wrap>ul>li:nth-child(3){background: url(../images/banner03.png);}
#sec_wrap .con_wrap>ul>li:nth-child(4){background: url(../images/banner04.png);}
#sec_wrap .con_wrap>ul>li:nth-child(5){background: url(../images/event_01.png);}
#sec_wrap .con_wrap>ul>li:nth-child(6){background: url(../images/event_02.png);}
#sec_wrap .con_wrap>ul>li:nth-child(7){width: 50%;background: url(../images/findstore.png);}

#sec_wrap .visual_02 {}
#sec_wrap .visual_02 .slider_02 {
	width: 1260px;
	height: 630px;
}
#sec_wrap .visual_02 {}

footer#footer {
	background-color: #ccc;
	height: 200px;
}
#footer .ft_wrap{
	width: 1260px;
	margin: 0 auto;
	position: relative;
}

.ft_wrap h3 {
	width: 180px;
	height: 40px;
	margin-left: 30px;
	padding-top: 80px;
	position: absolute;
	left: 0;
}
.ft_wrap .main_ft {
	width: 850px;
	position: absolute;
	right:200px;
	top: 50px;
}
.ft_wrap .main_ft li {
	float: left;
	width: 141.67px;
	position: relative;
}
.ft_wrap .main_ft li:after {
	content: "";
	display: block;
	width: 1px;
	height: 10px;
	background-color: #444444;
	position: absolute;
	top: 15px;
}
.ft_wrap .main_ft li:first-child:after {
	content: "";
	display: none;
}

.ft_wrap .main_ft a {
	display: block;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
}
.ft_wrap .main_ft p.ft_txt {
	text-align: center;
	font-size: 12px;
}
#footer button { 
	width: 200px;
	height: 50px;
	position: absolute;
	right:0;
	top: 80px;
	background-color: #fff;
}


/* sub01 area */
div#sub_header {
	width: 100%;height: 458px;position: relative;margin-bottom: 20px;
	min-width:1260px;

}
#header_top {
	width: 1260px;
	margin:0 auto;
	padding-top: 20px;
}
#header_top a {width: 100px;display: block;float: left;}
#header_top #main_menu {float: right;margin-top: 30px;}
#header_top #main_menu ul{}
#header_top #main_menu li{
	float: left;
	width: 200px;
}
#header_top #main_menu a{
	display: block;
	text-align: center;
	line-height: 40px;
	color: black;
}

.sub01 {
	background:url(../images/subimg_01.jpg) no-repeat center;
	background-size: cover;
}
#sub_header .visual {width: 350px;margin:0 auto;}
	
#sub_header .visual .visual_txt{
	color: black;
	position: absolute;
	top:50%;
	margin-top: -50px;
}
#sub_header .visual_txt h3 {
	font-size: 2.3em;
	padding-left: 90px;
	padding-bottom: 20px;
}
#sub_header .visual_txt p {font-size: 1em;}

#sub_header .depth2 {
	width: 1000px;
	background-color: #EAEAEA;
	margin-top: 142px;
	border-bottom: 1px solid #B8307C; 
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left:-500px;
}
#sub_header .depth2 ul {}

#sub_header .depth2 li {
	float: left; 
	width: 250px;
	margin-bottom: 0;
	text-align: center;
	line-height: 50px;
	font-size: 1.3em;
	border-right: 1px solid #D1D1D1;
}

#sub_header .depth2 .on {
	background-color: #B8307C;
	color: white;
}
.contents {width: 1260px;margin:0 auto;}
div.location {
	height: 40px;
	margin-bottom: 30px;
}
.location ul {}
.location li {
	float: left;
	width: 80px;
	color: #B8307C;
}
.location a {
	display: block;
	text-align: center;
	color: #B8307C;
}
.location span {
	color: #666666;
}
.subtitle {

	text-align:center;
	font-size: 2.5em;
	color: #B8307C;
	margin-bottom: 30px;
}
.contents .best img{
	display: block;
	
}
.contents .best img.bestTitle {
	width:212px;margin: 0 auto;
	margin-bottom: 20px;
}

.contents .best img.bestProduct {
	width:1206px;margin: 0 auto;
	margin-bottom: 20px;
}
.ice_title {
	width: 100px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.ice_menu {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 50px;
}