@charset 'utf-8';
/*common css*/
*{-webkit-box-sizing : border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body{ margin: 0; padding: 0; }
header, section, article, aside, nav, footer{display: block;}
header:after, section:after, article:after, aside:after, nav:after, footer:after {content:""; display: block;clear: both;}
ul,ol{margin:0;padding: 0;list-style: none;}
h1,h2,h3,h4,h5,h6, p{margin: 0;}
a{text-decoration: none;}
.clear{clear: both;}
#header {width: 100%;height:560px;position: relative;background-image: url(../img/h3-slider1-background.jpg); background-size: cover; background-position: center;}
#header .hd_wrap{width: 100%;height:80px;}
#header .hd_wrap .hd_top{width:100%;height: 20px;margin:0 auto;background-color: #474747;}
#header .hd_wrap .address{width: 1180px;height: 100%;margin: 0 auto;}
#header .address ul.contact{float:left;}
#header .address ul.login{float:right;}
#header .address ul li{float: left; padding-top: 4px;}
#header .address ul li a{display: block;line-height: 1;color: #fff;padding:0 5px; font-size:12px;}
#header .address ul li:nth-child(1) a{border-right: 1px solid #fff;}

#header .hd_wrap .hd_bottom{width: 100%;height: 60px;background-color: rgba(255,255,255,0.7);}
#header .gnb {width:1180px;height: 60px;margin: 0 auto;}
#header .gnb ul {text-align: center;}
#header .gnb ul li{display: inline-block;vertical-align:middle;}
#header .gnb ul li a{display: block;line-height:1;color: #777; text-align:center;padding:17px 50px;}
#header .gnb ul li a img{height:40px;margin-top: 10px;margin-bottom:10px;}
#header .gnb ul li.logo{height: 60px;}
#header .gnb ul li.logo a{padding: 0;}

.main_title {width: 100%;position: absolute;top:50%;text-align: center;color:#fff ;}

#section_01{width: 100%;height: 660px;background-image: url(../img/section_deco_left.png), url(../img/section_deco_right.png);
	background-size: 160px auto, 160px auto;background-position: 0% 36%, 100% bottom;
	background-attachment: fixed,fixed;background-repeat: no-repeat, no-repeat;overflow: hidden;}
#section_01 .cont-01{width:1200px;height: 100%;margin: 0 auto; padding:60px 0;}
#section_01 .cont-01 .txt-box {width: 180px;height: auto;position: relative;}
#section_01 .cont-01 .txt-box p{border-left: 4px solid #777;padding-left:10px;line-height: 1;
	font-weight: bold;transform: rotate(90deg);
	transform-origin:left bottom;display: inline-block;}
#section_01 .cont-01 .box-frame {width: 981px;height: 580px;margin: 0 auto;} 
#section_01 .cont-01 .content_box {width: 1020px;height: 200px;margin: 0 auto; font-size:0;}
#section_01 .cont-01 .content_box .cont_img{display:inline-block; width:20%; vertical-align:middle;}
#section_01 .cont-01 .content_box img{  margin-right: 80px;}
#section_01 .cont-01 .content_box .txt_wrap{display:inline-block; width:80%; vertical-align:middle;}
#section_01 .cont-01 .content_box h3{font-size:20px;}
#section_01 .cont-01 .content_box .hr_line{width: 80px;height: 1px;background-color: #ce967a;margin:10px 0;}
#section_01 .cont-01 .content_box p{position: relative; font-size:17px;}
#section_01 .cont-01 .content_box a{position: absolute;right: 0; font-size:17px;color: #ce967a}







/*section#cont_01{ 백그라운트 이미지 듀얼 설정 
	background-image: url(../img/img_01.jpg), url(../img/img_02.jpg);
	background-size: 120px auto, 120px auto;
	background-position: -15% top, -110% bottom;
	background-attachment: fixed,fixed;
	background-repeat: no-repeat, no-repeat;
} */